<!doctype html>
<html lang="en">
<head>
	<title>Helo</title>
	
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
	<body>
		<nav>
			<a href="/orarend">Órarend</a>
			<a href="/admin">Admin</a>
			<a href="/heti">Heti</a>
			<a href="/diagram">Diagram</a>
		</nav>
		<p>Szia ez itt Fehér Erik Órarend adatbázisa</p>
	</body>
</html>